@page
@model COVID.App.FrontEnd.Pages.EliminarModel
@{
}
<h1>Se va a eliminar el profesor</h1>
<table class="table">
    <tr>
        <td>@Model.profesor.nombre</td>
        <td>@Model.profesor.apellido</td>
        <td>@Model.profesor.edad</td>
        <td>@Model.profesor.estado</td>
        <td>@Model.profesor.departamento</td>
        <td>@Model.profesor.asignatura</td>
        
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="profesor.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>