@page
@model COVID.App.FrontEnd.Pages.EliminarPersonalAseoModel
@{
}
<h1>Se va a eliminar al Estudiante</h1>
<table class="table">
    <tr>
        <td>@Model.personalAseo.nombre</td>
        <td>@Model.personalAseo.apellido</td>
        <td>@Model.personalAseo.edad</td>
        <td>@Model.personalAseo.estado</td>
        <td>@Model.personalAseo.turno</td>
        
        
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="personalAseo.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>