@page
@model COVID.App.FrontEnd.Pages.EliminarEstudianteModel
@{
}
<h1>Se va a eliminar al Estudiante</h1>
<table class="table">
    <tr>
        <td>@Model.estudiante.nombre</td>
        <td>@Model.estudiante.apellido</td>
        <td>@Model.estudiante.edad</td>
        <td>@Model.estudiante.carrera</td>
        <td>@Model.estudiante.semestre</td>
        
        
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="estudiante.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>