@page
@model COVID.App.FrontEnd.Pages.EliminarDirectivooModel
@{
}
<h1>Se va a eliminar al Directivo</h1>
<table class="table">
    <tr>
        <td>@Model.directivo.nombre</td>
        <td>@Model.directivo.apellido</td>
        <td>@Model.directivo.edad</td>
        <td>@Model.directivo.estado</td>
        <td>@Model.directivo.facultad</td>
        
        
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="directivo.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>